{% extends "layout.html "%}

{% block about %}

<div class="about" id="about">
    <div class="wrap">
        <h2>About US</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="about-grids">
            <div class="grid">
                <div class="dc_zoom_css">
                    <span class="roll_css6">
                        <div class="social">
                            <ul>
                                <li><a class="sharefacebook" href="#"> </a> </li>
                                <li><a class="sharetwitter" href="#"> </a> </li>
                                <li><a class="sharetgoogle" href="#"> </a> </li>
                                <li><a class="sharedrible" href="#"> </a> </li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </span>
                    <img class="post-person" src="../static/images/img1.jpg">
                </div>
                <div class="desc">
                    <h3>Lorem Ipsum is Simply</h3>
                    <p>project manager</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem,Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem.</p>
                </div>

            </div>
            <div class="grid">
                <div class="dc_zoom_css">
                    <span class="roll_css6">
                        <div class="social">
                            <ul>
                                <li><a class="sharefacebook" href="#"> </a> </li>
                                <li><a class="sharetwitter" href="#"> </a> </li>
                                <li><a class="sharetgoogle" href="#"> </a> </li>
                                <li><a class="sharedrible" href="#"> </a> </li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </span>
                    <img class="post-person" src="../static/images/img2.jpg">
                </div>
                <div class="desc">
                    <h3>Lorem Ipsum is Simply</h3>
                    <p>project manager</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem,Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem.</p>
                </div>
            </div>
            <div class="grid">
                <div class="dc_zoom_css">
                    <span class="roll_css6">
                        <div class="social">
                            <ul>
                                <li><a class="sharefacebook" href="#"> </a> </li>
                                <li><a class="sharetwitter" href="#"> </a> </li>
                                <li><a class="sharetgoogle" href="#"> </a> </li>
                                <li><a class="sharedrible" href="#"> </a> </li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </span>
                    <img class="post-person" src="../static/images/img3.jpg">
                </div>
                <div class="desc">
                    <h3>Lorem Ipsum is Simply</h3>
                    <p>project manager</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem,Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem.</p>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>

{% endblock %}