{% extends "layout.html "%}

{% block content %}

<!-- start slider -->
<div class="slider_bg">
	<div class="wrap">
		<!---start-da-slider----->
		<div class="da-slide">
			<h2><span>We Build</span>Brand</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer
				took a galley of type and scrambled it to make a type specimen book.</p>
			<a href="#" class="da-link">Learnmore</a>
			<a href="#portfolio" class="scroll"><span class="da-img"> </span> </a>
		</div>
		<!---//End-da-slider----->
	</div>
</div>
<!-----end-slider-------->

{% endblock %}