{% extends "layout.html "%}

{% block portafolio %}

<div class="wrap" id="portfolio">
    <div class="main">
        <!-- start gallery  -->
        <div class="gallery1">
            <!--start-mfp -->
            <div id="small-dialog1" class="mfp-hide">
                <div class="pop_up">
                    <h2>Lorem ipsum sit amet</h2>
                    <img src="../static/images/icon1.png" alt="" />
                    <p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                    </p>
                </div>
            </div>
            <!--end-mfp -->
            <!---start-content----->
            <div class="gallery">
                <div class="clear"> </div>
                <div class="container">
                    <h2>Portfolio</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul id="filters" class="clearfix">
                        <li><span class="filter active" data-filter="app card icon logo web">All</span></li>
                        <li><span class="filter" data-filter="app web">Web Design</span></li>
                        <li><span class="filter" data-filter="icon web card">Graphic Design</span></li>
                        <li><span class="filter" data-filter="web app icon card">Flat Design</span></li>
                    </ul>
                    <div id="portfoliolist">

                        <div class="portfolio logo" data-cat="logo">
                            <div class="portfolio-wrapper">
                                <a class="popup-with-zoom-anim" href="#small-dialog1">
                                    <ul class="ch-grid">
                                        <li>
                                            <div class="ch-item ch-img-1">
                                                <div class="ch-info">
                                                    <img src="../static/images/zoom-white.png" />
                                                    <h3>Example Title</h3>
                                                    <p><a href="#">Wed Desing</a></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </div>

                        <div class="portfolio app" data-cat="app">
                            <div class="portfolio-wrapper">
                                <a class="popup-with-zoom-anim" href="#small-dialog1">
                                    <ul class="ch-grid">
                                        <li>
                                            <div class="ch-item ch-img-2">
                                                <div class="ch-info">
                                                    <img src="../static/images/zoom-white.png" />
                                                    <h3>Example Title</h3>
                                                    <p><a href="#">Wed Desing</a></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        <div class="hide">
                            <div class="portfolio web" data-cat="web">
                                <div class="portfolio-wrapper">
                                    <a class="popup-with-zoom-anim" href="#small-dialog1">
                                        <ul class="ch-grid">
                                            <li>
                                                <div class="ch-item ch-img-3">
                                                    <div class="ch-info">
                                                        <img src="../static/images/zoom-white.png" />
                                                        <h3>Example Title</h3>
                                                        <p><a href="#">Wed Desing</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio card" data-cat="card">
                            <div class="portfolio-wrapper">
                                <a class="popup-with-zoom-anim" href="#small-dialog1">
                                    <ul class="ch-grid">
                                        <li>
                                            <div class="ch-item ch-img-4">
                                                <div class="ch-info">
                                                    <img src="../static/images/zoom-white.png" />
                                                    <h3>Example Title</h3>
                                                    <p><a href="#">Wed Desing</a></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </div>

                        <div class="hide">
                            <div class="portfolio app" data-cat="app">
                                <div class="portfolio-wrapper">
                                    <a class="popup-with-zoom-anim" href="#small-dialog1">
                                        <ul class="ch-grid">
                                            <li>
                                                <div class="ch-item ch-img-5">
                                                    <div class="ch-info">
                                                        <img src="../static/images/zoom-white.png" />
                                                        <h3>Example Title</h3>
                                                        <p><a href="#">Wed Desing</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="hide">
                            <div class="portfolio card" data-cat="card">
                                <div class="portfolio-wrapper">
                                    <a class="popup-with-zoom-anim" href="#small-dialog1">
                                        <ul class="ch-grid">
                                            <li>
                                                <div class="ch-item ch-img-6">
                                                    <div class="ch-info">
                                                        <img src="../static/images/zoom-white.png" />
                                                        <h3>Example Title</h3>
                                                        <p><a href="#">Wed Desing</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="portfolio card" data-cat="card">
                                <div class="portfolio-wrapper">
                                    <a class="popup-with-zoom-anim" href="#small-dialog1">
                                        <ul class="ch-grid">
                                            <li>
                                                <div class="ch-item ch-img-7">
                                                    <div class="ch-info">
                                                        <img src="../static/images/zoom-white.png" />
                                                        <h3>Example Title</h3>
                                                        <p><a href="#">Wed Desing</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="portfolio logo" data-cat="logo" id="hide">
                                <div class="portfolio-wrapper">
                                    <a class="popup-with-zoom-anim" href="#small-dialog1">
                                        <ul class="ch-grid">
                                            <li>
                                                <div class="ch-item ch-img-8">
                                                    <div class="ch-info">
                                                        <img src="../static/images/zoom-white.png" />
                                                        <h3>Example Title</h3>
                                                        <p><a href="#">Wed Desing</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
                <script type="text/javascript" src="../static/js/fliplightbox.min.js"></script>
                <script type="text/javascript">$('body').flipLightBox()</script>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}